<p>My funding round</p>
<%= @funding_round.name %>


<% @answers.each do |answer|  %>
  <% if @investments_ids.include? answer.investment_id %>
  <ul>
    <li><%= answer.question.question %> - <%= answer.investment.user.name %>: <%= answer.answer %></li>
  </ul>
  <% end %>
<% end %>
