<p>My funding round</p>
<%= @funding_round.name %>


<% @questions.each do |question|  %>
  <% @answer = @answers.where("question_id = #{question.id}") %>
  <ul>
    <li><%= question.question %> - <%= @answers %> </li>
  </ul>
<% end %>
