// Specific CSS for your home-page
.container{
  margin: 50px;
}

.title {
  color: #F6AF42;
  font-size: 50px;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.header {
  text-align: center;
  background-image: url("background_header.png");
  height: 550px;
  background-repeat: no-repeat;
}

.valueprops {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 80px 0px;
}

.valueprops p {
  font-size: 20px;
  padding: 5px;
  margin: 0px auto;
}

.banner_img {
  height: 550px;
  margin: 100px 0px 0px 0px;
}


