// Specific CSS for your home-page
.container{
  margin: 50px auto;
}

.container-valueprops {
  position: relative;
  display: flex;
  justify-content: center;
}

.title {
  color: #F6AF42;
  font-size: 50px;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.header {
  text-align: center;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.valueprops {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 60px 0px;
  max-width: 100vh;
}

.valueprops p {
  font-size: 20px;
  padding: 5px;
  margin: 0px auto;
}

.banner_img {
  height: 550px;
}

.page-title {
  margin-left: 20px;
  margin-bottom: 20px;
}