.button {
  color: white;
  background-color: #F6AF42;
  border-radius: 4px;
  width: 170px;
  height:50px;
  font-size: 20px;
  padding: 12px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button_small {
  color: white;
  background-color: #F6AF42;
  border-radius: 4px;
  width: 120px;
  height: 30px;
  font-size: 16px;
  padding: 3px 0px 0px 0px;
  margin: 5px 0px 0px 0px;
  text-align: center;
}
