.button {
  color: white;
  background-color: #F6AF42;
  border-radius: 4px;
  width: auto;
  max-width: 200px;
  height:50px;
  font-size: 18px;
  padding: 12px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}
.button-z{
  color: white;
  background-color: #F6AF42;
  border-radius: 4px;
  width: 180px;
  height:40px;
  font-size: 18px;
  padding: 2px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  border: white
}
.button_small {
  color: white;
  background-color: #F6AF42;
  border-radius: 4px;
  min-width: 100px;
  height: 30px;
  font-size: 14px;
  padding: 3px 0px 0px 0px;
  margin: 5px 0px 0px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

.button-inactive {
  color: #F6AF42;
  background-color: white;
  border: 1px solid #F6AF42;
  border-radius: 4px;
  max-width: 200px;
  height:50px;
  font-size: 18px;
  padding: 12px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

.button-su {
  color: white;
  background-color: #F6AF42;
  border-radius: 4px;
  width: 100px;
  height:50px;
  font-size: 18px;
  padding: 12px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

.button-md {
  color: white;
  background-color: #F6AF42;
  border-radius: 4px;
  width: auto;
  max-width: 250px;
  height:50px;
  font-size: 18px;
  padding: 12px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

.button-su a {
  font-size: 18px;
  color: white;
}
.button-su input {
  font-size: 18px;
  color: white;
}
.button a {
  font-size: 18px;
  color: white;
}
.button_small a {
  font-size: 18px;
  color: white;
}
.button input {
  font-size: 18px;
  color: white;
}
.button p {
  margin-bottom: 0px;
}
.button-inactive p {
  margin-bottom: 0px;
}

.button-md a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
}

.button-md input {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
}

.button-md a:hover {
  color: white;
  text-decoration: underline; 
  font-size: 18px;
  font-weight: lighter;
}

.button-md input:hover {
  color: white;
  text-decoration: underline; 
  font-size: 18px;
  font-weight: lighter;
}

.button input:hover {
  color: white;
  text-decoration: underline; 
  font-size: 18px;
  font-weight: lighter;
}

.button a:hover {
  color: white;
  text-decoration: underline; 
  font-size: 18px;
  font-weight: lighter;
}

.button-su input:hover {
  color: white;
  text-decoration: underline; 
  font-size: 18px;
  font-weight: lighter; 
}

.button-su a:hover {
  color: white;
  text-decoration: underline; 
  font-size: 18px;
  font-weight: lighter;
}


.button_small input:hover {
  color: white;
  text-decoration: underline; 
  font-size: 18px;
  font-weight: lighter;
}

.button_small a:hover {
  color: white;
  text-decoration: underline; 
  font-size: 18px;
  font-weight: lighter;
}
