body{
  background-color: white;
}

.container-small{
  color: grey;
  margin: 100px 350px;
  background-color: white;
  border-radius: 10px;
  // padding: 25px 50px 75px 100px;
   // box-shadow: 3px 4px 5px -2px #888888;
}

.form-inputs{
  margin-bottom: 10%;
}

.form-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  border-bottom: 1px solid #bbb;
  padding-bottom: 20px;
}
